.inpplace{
    margin-left: 30px;
    width: 200px;
    height: 30px;
}
.top{
    text-align: center;
}
.tab1{
    margin-left: 360px;
}
html{
    background-color: beige;
}
.lab{
    margin-left: 20px;
}
.find{
    padding-top: 50px;
    padding-left: 650px;
}
.div1{
    text-align: center;
}
.tab2{
    margin-left: 480px;
}
.sr{
    margin-left: 600px;
}
.result{
    margin-left: 300px;
}
.hotelpic{
    width:250px;
    height: 120px
}